body {
	background-color: #0f0f0f;
	font-family: 'DelaGothicOne';
	color: #eee;
	font-size: 3vh;
    overflow: hidden;
}

.navibar {
    border: none;
    height: 7.5%;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    position: absolute;
    margin-left: -8px;
    z-index: 99999;
}

.Content {
	margin: 6%;
}

.VerticalList {
	width: 100%;
	height: 100%;
}

.ListElement {
	height: 10vh;
	margin-top: 10px;
	border-bottom: 1px solid #222;
}

.Modal {
    display: none;
    height: 70%; /* Adjust height to ensure it doesn't go off screen */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(64px);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    border-radius: 25px 25px 0px 0px;
    transition: transform 0.2s ease;
}

.Modal.show {
    display: block;
    animation: slideInUp 0.2s forwards;
}

.Modal.hide {
    animation: slideOutDown 0.2s forwards;
}

.ModalContent {
	margin-top: 3vh;
}

.close-p {
	margin-left: 2.5%;
}

.Title {
	margin-top: 5vh;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Description {
	margin-top: 10vh;
	margin-left: -1vh;
    margin-right: -1vh;
}

.numpad-container {
    text-align: center;
    margin-top: 7vh;
    margin-left: -2vh;
    width: 100%;
    justify-content: center;
}

#passwordInput {
    width: 75%;
    padding: 10px;
    font-size: 3vh;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    color: #eee;
    font-family: 'DelaGothicOne';
    text-align: center;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.num-button {
    padding: 20px;
    font-size: 3vh;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    color: #eee;
    font-family: 'DelaGothicOne';
}

.VerticalListModal {
	width: 100%;
	margin-top: 10vh;
	margin-right: 6%;
}

.ListIcon {
	height: 8vh;
	width: 8vh;
	border-radius: 1000px;
	background-color: transparent;
	object-fit: cover;
}

.Activity {
	display: none;
	height: 100%;
	width: 100%;
	z-index: 999;
	position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
}

.Activity.hide {
    animation: actOutRight 0.5s forwards;
}

.Activity.show {
    animation: actInLeft 0.5s forwards;
}

.ContentActivity {
	margin-right: 6%;
    margin-left: 6%;
	width: 100%;
	
}

.navibar {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(32px);
    height: 125px;
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
}

.ic {
    height: 200%;
    width: 200%;
    color: #fff;
}

.button {
    display: inline-block;
    text-align: center;
}

#exit {
    position: absolute;
    left: 0;
    margin-left: 20%;
}

#sleep {

}

#list {
    position: absolute;
    right: 0;
    margin-right: 20%;
}

@keyframes shake {
    0% { transform: translateX(0); color: #eee;}
    25% { transform: translateX(-5px); color: #e11;}
    50% { transform: translateX(5px); color: #e33; }
    75% { transform: translateX(-5px); color: #e11; }
    100% { transform: translateX(0); color: #eee; }
}

.shake {
    animation: shake 0.5s;
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes actInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes actOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


@font-face {
  font-family: "DelaGothicOne"; 
  src: url("DelaGothicOne-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}
